<launch>
  <arg name="world_file" default="$(find Maze-Generator-Gazebo)/worlds/maze_1.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_spawn.launch"/>
</launch>
